<section id="project" style="background-image: url('assets/img/toolwallpaper.jpg');">
    <div class="projects-container">
        <div class="project">
          <img src="assets/img/wallpaper4.jpg" alt="Project 1">
          <h3>Project 1</h3>
          <p>Role: Developer</p>
          <p>Description: As a developer possessed technical skills and expertise in programming languages, 
            frameworks, and software development methodologies. With a passion for creating software solutions and
             enjoy solving complex problems through coding. I am  constantly learning and adapting to new technologies
              and tools to stay up to date in the fast-paced field of software development.</p>
        </div>
        
        <div class="project">
          <img src="assets/img/wallpaper4.jpg" alt="Project 2">
          <h3>Project 2</h3>
          <p>Role: Designer</p>
          <p>Description: As a designer, I have a keen eye for aesthetics and a deep appreciation for visual design. I enjoy pushing the boundaries of 
            creativity to develop visually appealing and engaging designs for websites, applications, user interfaces, or other digital products.</p>
        </div>
        
        <div class="project">
          <img src="assets/img/wallpaper4.jpg" alt="Project 3">
          <h3>Project 3</h3>
          <p>Role: Project Manager</p>
          <p>Description: As a project manager i was professionally responsible for overseeing and coordinating the planning, execution, 
            and completion of projects. 
            I was skilled at managing resources, timelines, and budgets to ensure successful project outcomes.</p>
        </div>
      </div>
      
</section>
