#project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .project {
    width: 30%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .project img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .project h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project p {
    margin-bottom: 10px;
  }
  