<section id="about" style="background-image: url('assets/img/toolwallpaper.jpg');">
    <div class="profile">
      <img src="assets/img/aboutme.jpg" alt="Profile Image">
    </div>
    
    <div class="bio">
      <h2>Navdeep Kaur</h2>
      <p>
       Hello! I am a student of Software engineering at centennial college.I did my graduation in computer application.I am a person  who
        is always curious to learn new things in life.I believe in living each and every moment of life to its fullest.
    
       I love learning how computers work, how they interact with the human world, and what makes them tick. I am 
       excited to learn more about this field and continue contributing to the world around me through technology.
       
       I’ve always been passionate about learning new things, whether reading a book or watching a movie—I just can’t get enough 
       of it! My most extensive interests include programming, web design, and software development—no matter 
       what I’m doing at school or working on in my free time, you’ll always find me surrounded by books and computers.
      </p>
      <h1>Here is my resume:</h1>
      <a href="assets/documents/resume.pdf" target="_blank">View Resume (PDF)</a>
      <a href routerLink="/contact">Contact Me</a>
    </div>
  </section>
  
