

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<mat-toolbar color="accent">
  <mat-toolbar-row>
    
  <div class="logo">
    
    <img src="assets/img/logoo.png" alt="Logo">
</div>
  <span class="example-spacer"></span>
  
  
   
   <nav>
    <div class="example-button-row">
      
    <a mat-raised-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-raised-button routerLink="/about">About</a> 
    <a mat-raised-button routerLink="/project">Project</a>
    <a mat-raised-button routerLink="/services">services</a>
    <a mat-raised-button routerLink="/contact">contact</a>
    <a mat-raised-button routerLink="/businesscontacts">businesscontact</a>
    <a mat-raised-button routerLink="/login">login</a>


    
    </div>
  </nav>
  <span class="example-spacer"></span>
</mat-toolbar-row>
    </mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>


