<section id="services" style="background-image: url('assets/img/toolwallpaper.jpg');">
    <div class="services-container">
        <div class="service">
          <img src="assets/img/wallpaper4.jpg" alt="Cyber Security">
          <h3>Cyber Security</h3>
          <p>We provide comprehensive cyber security services to protect your digital assets from cyber threats. Our services include vulnerability assessments, penetration testing, security audits, and implementation of robust security measures to safeguard your systems and data.</p>
        </div>
        
        <div class="service">
          <img src="assets/img/wallpaper4.jpg" alt="Web Development">
          <h3>Web Development</h3>
          <p>Our web development services cover front-end and back-end development. We specialize in creating responsive and user-friendly websites using the latest web technologies and frameworks. From static websites to dynamic web applications, we can bring your online presence to life.</p>
        </div>
        
        <div class="service">
          <img src="assets/img/wallpaper4.jpg" alt="Mobile Apps">
          <h3>Mobile Apps</h3>
          <p>We offer end-to-end mobile app development services for iOS and Android platforms. Our experienced team can transform your app ideas into reality, creating intuitive and engaging mobile applications that meet your business objectives and deliver a seamless user experience.</p>
        </div>
        
        <div class="service">
          <img src="assets/img/wallpaper4.jpg" alt="SQL Developer">
          <h3>SQL Development</h3>
          <p>We provide SQL development services to manage and optimize your database solutions. Our expertise includes database design, query optimization, performance tuning, and data migration. We ensure that your databases are efficient, secure, and scalable to support your business needs.</p>
        </div>
        
        <div class="service">
          <img src="assets/img/wallpaper4.jpg" alt="Database Administration">
          <h3>Database Administration</h3>
          <p>Our database administration services ensure the smooth operation and maintenance of your databases. We handle tasks such as database installation, configuration, monitoring, backup and recovery, and user management. We help you maintain data integrity and ensure high availability of your database systems.</p>
        </div>
        <div class="service">
        <img src="assets/img/wallpaper4.jpg" alt="Programming">
        <h3>General Programming</h3>
        <p>We offer general programming services to meet your specific software development needs. Whether you need custom software solutions, scripts, or automation tools, our team of experienced programmers can deliver high-quality code.</p>
      </div>
      </div>
      
</section>

